n8n/workflows/maicoachtest.json
{
  "id": "BduAY2rrLyipfB38",
  "name": "mAICoach Analysis Pipeline",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7802ff7f-6971-4bfe-b8a9-334b7dd96a13",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "id": "b1952cf4-9ae4-41ae-b854-6bbf77240671",
      "name": "Webhook",
      "webhookId": "7802ff7f-6971-4bfe-b8a9-334b7dd96a13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stravaAthleteId: $json.body.ownerId, secret: $vars.CONVEX_WEBHOOK_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "id": "f2d3e4a5-b6c7-4d8e-9f0a-1b2c3d4e5f60",
      "name": "Get Token"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.strava.com/api/v3/activities/{{ $('Webhook').first().json.body.stravaActivityId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "id": "a1b2c3d4-e5f6-4789-abcd-ef0123456789",
      "name": "Fetch Activity"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-start-latlng",
              "leftValue": "={{ Array.isArray($json.start_latlng) && $json.start_latlng.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300],
      "id": "ec3a9428-7b71-43f8-b814-ecbdb8d306dc",
      "name": "Has Streams?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.strava.com/api/v3/activities/{{ $('Webhook').first().json.body.stravaActivityId }}/streams?keys=time,latlng,distance,altitude,velocity_smooth,heartrate,cadence,watts,temp,grade_smooth&key_type=type",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token').first().json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "id": "11223344-5566-4778-899a-aabbccddeeff",
      "name": "Fetch Streams"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empty-streams",
              "name": "noStreams",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 450],
      "id": "6d7adea2-db2c-44b0-8fd4-9363988f3bb9",
      "name": "Empty Streams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/activity",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, athleteId: $('Get Token').first().json.athleteId, stravaActivity: $('Fetch Activity').first().json }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "id": "aabb1122-3344-4556-6778-8899aabbccdd",
      "name": "Upsert Activity"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, activityId: $json.activityId, status: 'analyzing' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300],
      "id": "12345678-abcd-4ef0-1234-567890abcdef",
      "name": "Set Status Analyzing"
    },
    {
      "parameters": {
        "jsCode": "const activity = $('Fetch Activity').first().json;\n\n// Safely get streams -- may be empty if activity has no GPS data\nlet streamsRaw;\ntry {\n  streamsRaw = $('Fetch Streams').first().json;\n} catch {\n  streamsRaw = null;\n}\n\n// Detect missing/error streams (404, error objects, non-array responses)\nlet streams = {};\nif (streamsRaw && !streamsRaw.errors && !streamsRaw.message && !streamsRaw.noStreams) {\n  const streamArray = Array.isArray(streamsRaw) ? streamsRaw : [streamsRaw];\n  for (const s of streamArray) {\n    const key = s.series_type || s.type;\n    if (key) streams[key] = s;\n  }\n}\n\nconst timeData = streams.time?.data || [];\nif (timeData.length === 0) {\n  const distKm = activity.distance ? (activity.distance / 1000).toFixed(2) : '0';\n  const durMin = activity.moving_time ? Math.round(activity.moving_time / 60) : (activity.elapsed_time ? Math.round(activity.elapsed_time / 60) : 0);\n  let fallback = 'No stream data available. Analyze based on activity summary only.\\n\\n';\n  fallback += '## Activity\\n';\n  fallback += '- Name: ' + (activity.name || 'Untitled') + '\\n';\n  fallback += '- Type: ' + (activity.sport_type || activity.type || 'Unknown') + '\\n';\n  fallback += '- Distance: ' + distKm + ' km\\n';\n  fallback += '- Duration: ' + durMin + ' min\\n';\n  if (activity.total_elevation_gain) fallback += '- Elevation: ' + activity.total_elevation_gain + ' m\\n';\n  if (activity.average_heartrate) fallback += '- Avg HR: ' + Math.round(activity.average_heartrate) + ' bpm\\n';\n  if (activity.max_heartrate) fallback += '- Max HR: ' + Math.round(activity.max_heartrate) + ' bpm\\n';\n  if (activity.average_cadence) fallback += '- Cadence: ' + Math.round(activity.average_cadence) + ' rpm\\n';\n  fallback += '\\nReturn JSON with: workoutClassification (string), keyObservations (array of 3-5 strings), analysisDirectives (array of 2-3 strings), relevantCoachingFrameworks (array of strings).';\n  return [{ json: { downsampled: null, scoutPrompt: fallback, hrDrift: null } }];\n}\n\n// Downsample (rolling window avg, ~500 points max)\nconst durationSec = timeData[timeData.length - 1] || 0;\nconst windowSec = Math.max(30, Math.ceil(durationSec / 500));\nfunction avgSlice(data, start, end) {\n  let sum = 0, count = 0;\n  for (let i = start; i < end; i++) { if (data[i] !== undefined) { sum += data[i]; count++; } }\n  return count > 0 ? Math.round((sum / count) * 100) / 100 : 0;\n}\n\nconst ds = { timeSec: [], meta: { windowSec, pointCount: 0 } };\nconst hrData = streams.heartrate?.data;\nconst velData = streams.velocity_smooth?.data;\nconst altData = streams.altitude?.data;\nconst cadData = streams.cadence?.data;\nconst distData = streams.distance?.data;\nconst latlngData = streams.latlng?.data;\nconst gradeData = streams.grade_smooth?.data;\n\nif (hrData) ds.heartrateBpm = [];\nif (velData) ds.velocitySmooth = [];\nif (altData) ds.altitudeM = [];\nif (cadData) ds.cadenceRpm = [];\nif (distData) ds.distanceM = [];\nif (latlngData) ds.latlng = [];\nif (gradeData) ds.gradeSmooth = [];\n\nlet wStart = 0;\nwhile (wStart < timeData.length) {\n  const wTime = timeData[wStart] || 0;\n  let wEnd = wStart;\n  while (wEnd < timeData.length && (timeData[wEnd] || 0) < wTime + windowSec) wEnd++;\n  if (wEnd === wStart) wEnd++;\n  ds.timeSec.push(wTime);\n  if (distData && ds.distanceM) ds.distanceM.push(distData[wEnd - 1] || 0);\n  if (latlngData && ds.latlng) { const p = latlngData[wEnd-1]; ds.latlng.push(p ? [p[0],p[1]] : [0,0]); }\n  if (altData && ds.altitudeM) ds.altitudeM.push(avgSlice(altData, wStart, wEnd));\n  if (hrData && ds.heartrateBpm) ds.heartrateBpm.push(avgSlice(hrData, wStart, wEnd));\n  if (velData && ds.velocitySmooth) ds.velocitySmooth.push(avgSlice(velData, wStart, wEnd));\n  if (cadData && ds.cadenceRpm) ds.cadenceRpm.push(avgSlice(cadData, wStart, wEnd));\n  if (gradeData && ds.gradeSmooth) ds.gradeSmooth.push(avgSlice(gradeData, wStart, wEnd));\n  wStart = wEnd;\n}\nds.meta.pointCount = ds.timeSec.length;\n\n// Compute HR drift for scout\nlet hrDrift = null;\nif (hrData && hrData.length > 10) {\n  const first20 = avgSlice(hrData, 0, Math.floor(hrData.length * 0.2));\n  const last20 = avgSlice(hrData, Math.floor(hrData.length * 0.8), hrData.length);\n  hrDrift = Math.round(last20 - first20);\n}\n\n// Build scout prompt\nconst distKm = (activity.distance / 1000).toFixed(2);\nconst durMin = Math.round(activity.moving_time / 60);\nconst ps = activity.distance > 0 ? Math.round(activity.moving_time / (activity.distance / 1000)) : 0;\nconst paceStr = Math.floor(ps/60) + ':' + String(ps%60).padStart(2,'0');\n\nlet sp = 'Analyze this workout and return JSON with: workoutClassification (string), keyObservations (array of 3-5 strings), analysisDirectives (array of 2-3 strings), relevantCoachingFrameworks (array of strings).\\n\\n';\nsp += '## Activity\\n';\nsp += '- Name: ' + activity.name + '\\n';\nsp += '- Type: ' + activity.sport_type + '\\n';\nsp += '- Distance: ' + distKm + ' km\\n';\nsp += '- Duration: ' + durMin + ' min\\n';\nsp += '- Pace: ' + paceStr + ' /km\\n';\nsp += '- Elevation: ' + (activity.total_elevation_gain || 0) + ' m\\n';\nif (activity.average_heartrate) sp += '- Avg HR: ' + Math.round(activity.average_heartrate) + ' bpm\\n';\nif (activity.max_heartrate) sp += '- Max HR: ' + Math.round(activity.max_heartrate) + ' bpm\\n';\nif (hrDrift !== null) sp += '- HR Drift: ' + (hrDrift > 0 ? '+' : '') + hrDrift + ' bpm\\n';\nif (activity.average_cadence) sp += '- Cadence: ' + Math.round(activity.average_cadence) + ' rpm\\n';\n\nif (activity.splits_metric && Array.isArray(activity.splits_metric)) {\n  sp += '\\n## Splits\\n';\n  for (const s of activity.splits_metric) {\n    const splitPace = s.average_speed > 0 ? Math.round(1000 / s.average_speed) : 0;\n    sp += 'Km ' + s.split + ': ' + Math.floor(splitPace/60) + ':' + String(splitPace%60).padStart(2,'0') + ' /km';\n    if (s.average_heartrate) sp += ' (' + Math.round(s.average_heartrate) + ' bpm)';\n    sp += '\\n';\n  }\n}\n\nreturn [{ json: { downsampled: ds, scoutPrompt: sp, hrDrift } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "id": "ccdd1234-5678-4abc-def0-123456789abc",
      "name": "Code Downsample"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2250, 300],
      "id": "245882f6-bb84-46f7-ad1a-0f10ebd816c7",
      "name": "Wait Before Scout"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen/qwen3-32b', messages: [{ role: 'system', content: 'You are a sports data analyst specializing in endurance training. Examine the workout data and produce a structured JSON analysis brief. Focus on identifying the workout type, key patterns in the data, and what a coach should focus their analysis on. Be specific and data-driven.' }, { role: 'user', content: $json.scoutPrompt }], temperature: 0.2, max_tokens: 2048, response_format: { type: 'json_object' } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 300],
      "id": "dd112233-4455-4667-8899-aabbccddeef0",
      "name": "Scout LLM"
    },
    {
      "parameters": {
        "jsCode": "// Parse scout response (OpenAI format)\nconst scoutResp = $json;\nconst scoutText = scoutResp.choices?.[0]?.message?.content || '{}';\nlet scout;\ntry { scout = JSON.parse(scoutText); } catch { scout = { workoutClassification: 'unknown', keyObservations: [], analysisDirectives: [] }; }\n\nconst activity = $('Fetch Activity').first().json;\nconst tokenData = $('Get Token').first().json;\nconst dsData = $('Code Downsample').first().json;\n\nconst distKm = (activity.distance / 1000).toFixed(2);\nconst durMin = Math.round(activity.moving_time / 60);\nconst ps = activity.distance > 0 ? Math.round(activity.moving_time / (activity.distance / 1000)) : 0;\nconst paceStr = Math.floor(ps/60) + ':' + String(ps%60).padStart(2,'0');\n\n// Coach personality definitions (mirrored from lib/coach-personalities.ts)\nconst personalities = {\n  motivator: 'Coaching style: High-energy motivator. Celebrate achievements enthusiastically. Use encouraging, upbeat language. Hype up PRs and breakthroughs. Frame setbacks as exciting challenges. Push the athlete to believe in their potential.',\n  analyst: 'Coaching style: Analytical and data-driven. Lead with metrics, percentages, and trends. Compare current performance to historical baselines. Highlight statistical patterns. Use precise language. Favor quantified observations over subjective assessments.',\n  zen: 'Coaching style: Calm and mindful. Emphasize balance, recovery, and sustainability over raw performance. Encourage listening to the body. Frame training as a journey. Use measured, thoughtful language. Value consistency over intensity.',\n  'drill-sergeant': 'Coaching style: Tough-love drill sergeant. Be blunt and direct. Call out laziness, missed targets, and poor pacing decisions without sugarcoating. Set high standards. Demand accountability. Use short, punchy sentences.',\n  buddy: 'Coaching style: Friendly training buddy. Use casual, conversational language. Share the excitement like a friend who just ran alongside them. Use humor and colloquialisms. Give advice the way a knowledgeable friend would over a post-run coffee.'\n};\n\nlet systemPrompt = 'You are mAIcoach, an expert AI running and cycling coach. Analyze workout data with the insight of an experienced coach, providing specific, actionable feedback. Be encouraging but honest. Use data to support observations. Use metric units (km, min/km, bpm). Never fabricate data -- only reference numbers from the provided context.';\n\nconst coachPersonality = tokenData.coachPersonality;\nif (coachPersonality && personalities[coachPersonality]) {\n  systemPrompt += '\\n\\n' + personalities[coachPersonality];\n}\n\nlet prompt = 'Analyze this workout and return a JSON object with these exact fields:\\n';\nprompt += '- effortScore (integer 1-10)\\n';\nprompt += '- executiveSummary (2-3 sentences)\\n';\nprompt += '- positives (array of 2-4 short strings)\\n';\nprompt += '- improvements (array of 1-3 short strings)\\n';\nprompt += '- splitAnalysis (object with \"trend\" and \"comment\" strings, or null)\\n';\nprompt += '- nextSession (object with \"type\", \"durationMin\" number, \"intensity\", \"description\")\\n';\nprompt += '- voiceSummary (1-2 sentence audio-friendly summary)\\n\\n';\n\nprompt += '## Pre-Analysis Scout Brief\\n';\nprompt += '- Classification: ' + (scout.workoutClassification || 'N/A') + '\\n';\nprompt += '- Observations: ' + (scout.keyObservations || []).join('; ') + '\\n';\nprompt += '- Focus areas: ' + (scout.analysisDirectives || []).join('; ') + '\\n\\n';\n\nprompt += '## Workout Data\\n';\nprompt += '- Name: ' + activity.name + '\\n';\nprompt += '- Type: ' + activity.sport_type + '\\n';\nprompt += '- Distance: ' + distKm + ' km\\n';\nprompt += '- Duration: ' + durMin + ' min\\n';\nprompt += '- Avg Pace: ' + paceStr + ' /km\\n';\nprompt += '- Elevation: ' + (activity.total_elevation_gain || 0) + ' m\\n';\nif (activity.average_heartrate) prompt += '- Avg HR: ' + Math.round(activity.average_heartrate) + ' bpm\\n';\nif (activity.max_heartrate) prompt += '- Max HR: ' + Math.round(activity.max_heartrate) + ' bpm\\n';\nif (activity.average_cadence) prompt += '- Cadence: ' + Math.round(activity.average_cadence) + ' rpm\\n';\nif (activity.calories) prompt += '- Calories: ' + activity.calories + '\\n';\n\nif (dsData.hrDrift !== null && dsData.hrDrift !== undefined) {\n  prompt += '- HR Drift: ' + (dsData.hrDrift > 0 ? '+' : '') + dsData.hrDrift + ' bpm\\n';\n}\n\nif (activity.splits_metric && Array.isArray(activity.splits_metric)) {\n  prompt += '\\n## Splits\\n';\n  for (const s of activity.splits_metric) {\n    const splitPace = s.average_speed > 0 ? Math.round(1000 / s.average_speed) : 0;\n    prompt += 'Km ' + s.split + ': ' + Math.floor(splitPace/60) + ':' + String(splitPace%60).padStart(2,'0') + ' /km';\n    if (s.average_heartrate) prompt += ' (' + Math.round(s.average_heartrate) + ' bpm)';\n    prompt += '\\n';\n  }\n}\n\nprompt += '\\n## Athlete: ' + tokenData.athleteName + '\\n';\nif (tokenData.athleteGoal) prompt += '- Goal: ' + tokenData.athleteGoal + '\\n';\n\nreturn [{ json: { analysisPrompt: prompt, systemPrompt, scout } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 300],
      "id": "ee112233-4455-4667-8899-aabbccddeef1",
      "name": "Code Build Prompt"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3000, 300],
      "id": "aedbb9ea-372a-4759-94fd-b95530976ff3",
      "name": "Wait Before Analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen/qwen3-32b', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.analysisPrompt }], temperature: 0.3, max_tokens: 4096, response_format: { type: 'json_object' } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3250, 300],
      "id": "ff112233-4455-4667-8899-aabbccddeef2",
      "name": "Analysis LLM"
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst text = resp.choices?.[0]?.message?.content || '{}';\nlet analysis;\ntry { analysis = JSON.parse(text); } catch { analysis = { executiveSummary: 'Analysis parsing failed', positives: [], improvements: [], effortScore: 5 }; }\n\nanalysis.model = resp.model || 'qwen/qwen3-32b';\n\nconst activityId = $('Upsert Activity').first().json.activityId;\nconst downsampled = $('Code Downsample').first().json.downsampled;\nconst activity = $('Fetch Activity').first().json;\nconst stravaActivityId = $('Webhook').first().json.body.stravaActivityId;\nconst tokenData = $('Get Token').first().json;\n\nreturn [{ json: { activityId, analysis, downsampled, activityName: activity.name, stravaActivityId, athleteName: tokenData.athleteName, athleteEmail: tokenData.email || null, executiveSummary: analysis.executiveSummary || '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 300],
      "id": "00112233-4455-4667-8899-aabbccddeef3",
      "name": "Code Parse Analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/analysis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, activityId: $json.activityId, analysis: $json.analysis, streams: $json.downsampled }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3750, 300],
      "id": "11223344-5566-4778-899a-bbccddeeff00",
      "name": "Store Analysis"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-voice-text",
              "leftValue": "={{ !!($('Code Parse Analysis').first().json.analysis?.voiceSummary) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4000, 300],
      "id": "v01ce000-1111-4000-a000-000000000001",
      "name": "Has Voice Summary?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/upload-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4250, 150],
      "id": "v01ce000-2222-4000-a000-000000000002",
      "name": "Get Upload URL"
    },
    {
      "parameters": {
        "jsCode": "// v2 - personality-based voice selection\nconst personality = $('Get Token').first().json.coachPersonality || 'default';\n\nconst voiceMap = {\n  'motivator': 'TX3LPaxmHKxFdv7VOQHJ',\n  'analyst': 'onwK4e9ZLuTAKqWW03F9',\n  'zen': 'SAz9YHcvj6GT2YYXdXww',\n  'drill-sergeant': 'pNInz6obpgDQGcFmaJgB',\n  'buddy': 'iP95p4xoKVk53GoZ742B',\n  'default': 'cjVigY5qzO86Huf0OWal'\n};\n\nconst voiceId = voiceMap[personality] || voiceMap['default'];\n\nreturn [{ json: { voiceId, personality } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4500, 150],
      "id": "v01ce000-7777-4000-a000-000000000007",
      "name": "Resolve Voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://maicoach.vercel.app/api/pipeline/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, text: $('Code Parse Analysis').first().json.analysis.voiceSummary, voiceId: $json.voiceId }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4750, 150],
      "id": "v01ce000-3333-4000-a000-000000000003",
      "name": "ElevenLabs TTS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Upload URL').first().json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5000, 150],
      "id": "v01ce000-4444-4000-a000-000000000004",
      "name": "Upload Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/voice-debrief",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, athleteId: $('Get Token').first().json.athleteId, activityId: $('Store Analysis').first().json.activityId, storageId: $json.storageId, scriptText: $('Code Parse Analysis').first().json.analysis.voiceSummary }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5250, 150],
      "id": "v01ce000-5555-4000-a000-000000000005",
      "name": "Save Voice Debrief"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CONVEX_SITE_URL }}/api/pipeline/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: $vars.CONVEX_WEBHOOK_SECRET, activityId: $('Store Analysis').first().json.activityId, status: 'complete' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4250, 500],
      "id": "v01ce000-6666-4000-a000-000000000006",
      "name": "Set Status Complete Fallback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done-activity",
              "name": "activityName",
              "value": "={{ $('Code Parse Analysis').first().json.activityName }}",
              "type": "string"
            },
            {
              "id": "done-summary",
              "name": "executiveSummary",
              "value": "={{ $('Code Parse Analysis').first().json.executiveSummary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [5500, 300],
      "id": "22334455-6677-4889-9aab-bccddee0ff11",
      "name": "Pipeline Complete"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code Parse Analysis').first().json;\nconst analysis = parsed.analysis || {};\nconst athleteName = parsed.athleteName || 'Athlete';\nconst athleteEmail = parsed.athleteEmail || null;\nconst activityName = parsed.activityName || 'Workout';\nconst effortScore = analysis.effortScore || 5;\nconst executiveSummary = analysis.executiveSummary || '';\nconst positives = analysis.positives || [];\nconst improvements = analysis.improvements || [];\nconst nextSession = analysis.nextSession || null;\n\nconst effortColor = effortScore <= 3 ? '#22c55e' : effortScore <= 6 ? '#eab308' : effortScore <= 8 ? '#f97316' : '#ef4444';\nconst effortBarWidth = Math.round(effortScore * 10);\n\nlet positivesHtml = '';\nfor (const p of positives) {\n  positivesHtml += '<tr><td style=\"padding:4px 0;vertical-align:top;width:24px;color:#22c55e;font-size:16px;\">&#10003;</td><td style=\"padding:4px 0;font-size:14px;color:#374151;\">' + p + '</td></tr>';\n}\n\nlet improvementsHtml = '';\nfor (const imp of improvements) {\n  improvementsHtml += '<tr><td style=\"padding:4px 0;vertical-align:top;width:24px;color:#f97316;font-size:14px;font-weight:bold;\">&#8250;</td><td style=\"padding:4px 0;font-size:14px;color:#374151;\">' + imp + '</td></tr>';\n}\n\nlet nextSessionHtml = '';\nif (nextSession) {\n  nextSessionHtml = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:24px;\"><tr><td style=\"background:#f0f0ff;border-radius:12px;padding:20px;border-left:4px solid #6366f1;\"><p style=\"margin:0 0 4px;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;color:#6366f1;font-weight:600;\">Next Session Recommendation</p><p style=\"margin:0 0 8px;font-size:16px;font-weight:600;color:#1f2937;\">' + nextSession.type + ' &middot; ' + nextSession.durationMin + ' min &middot; ' + nextSession.intensity + '</p><p style=\"margin:0;font-size:14px;color:#4b5563;line-height:1.5;\">' + nextSession.description + '</p></td></tr></table>';\n}\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background-color:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f3f4f6;padding:24px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background-color:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);\">'\n+ '<tr><td style=\"background:linear-gradient(135deg,#4f46e5 0%,#6366f1 50%,#818cf8 100%);padding:32px 32px 28px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.5px;\">m<span style=\"color:#c7d2fe;\">AI</span>coach</p></td></tr><tr><td style=\"padding-top:16px;\"><p style=\"margin:0;font-size:20px;font-weight:600;color:#ffffff;\">' + activityName + '</p><p style=\"margin:4px 0 0;font-size:13px;color:#c7d2fe;\">Coach analysis ready for ' + athleteName + '</p></td></tr></table></td></tr>'\n+ '<tr><td style=\"padding:28px 32px 0;\"><p style=\"margin:0;font-size:14px;line-height:1.6;color:#374151;\">' + executiveSummary + '</p></td></tr>'\n+ '<tr><td style=\"padding:24px 32px 0;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 8px;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;color:#6b7280;font-weight:600;\">Effort Score</p></td><td style=\"text-align:right;\"><p style=\"margin:0 0 8px;font-size:20px;font-weight:700;color:' + effortColor + ';\">' + effortScore + '<span style=\"font-size:13px;font-weight:400;color:#9ca3af;\">/10</span></p></td></tr><tr><td colspan=\"2\"><div style=\"background:#e5e7eb;border-radius:6px;height:8px;overflow:hidden;\"><div style=\"background:' + effortColor + ';width:' + effortBarWidth + '%;height:8px;border-radius:6px;\"></div></div></td></tr></table></td></tr>'\n+ '<tr><td style=\"padding:24px 32px 0;\"><p style=\"margin:0 0 12px;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;color:#6b7280;font-weight:600;\">What Went Well</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' + positivesHtml + '</table></td></tr>'\n+ '<tr><td style=\"padding:20px 32px 0;\"><p style=\"margin:0 0 12px;font-size:11px;text-transform:uppercase;letter-spacing:1.5px;color:#6b7280;font-weight:600;\">Areas to Improve</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' + improvementsHtml + '</table></td></tr>'\n+ '<tr><td style=\"padding:0 32px;\">' + nextSessionHtml + '</td></tr>'\n+ '<tr><td style=\"padding:28px 32px;\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto;\"><tr><td style=\"background:#6366f1;border-radius:8px;\"><a href=\"https://maicoach.vercel.app/dashboard\" target=\"_blank\" style=\"display:inline-block;padding:14px 36px;color:#ffffff;font-size:14px;font-weight:600;text-decoration:none;\">View Full Analysis</a></td></tr></table></td></tr>'\n+ '<tr><td style=\"background:#f9fafb;padding:20px 32px;text-align:center;border-top:1px solid #e5e7eb;\"><p style=\"margin:0;font-size:12px;color:#9ca3af;\">Powered by mAIcoach &middot; Your AI coaching assistant</p></td></tr>'\n+ '</table></td></tr></table></body></html>';\n\nconst subject = activityName + ' -- Coach Analysis Ready';\n\nreturn [{ json: { html, subject, recipientEmail: athleteEmail, hasEmail: !!athleteEmail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5750, 300],
      "id": "a1e2m3a4-i5l6-4b7u-8i9l-d0e1r2h3t4m5",
      "name": "Build Email HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.hasEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6000, 300],
      "id": "b2f3g4h5-i6j7-4k8l-9m0n-o1p2q3r4s5t6",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [6250, 200],
      "id": "c3d4e5f6-g7h8-4i9j-0k1l-m2n3o4p5q6r7",
      "name": "Send Notification Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "U8hhOBCnqNzIyntg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [2500, 600],
      "id": "33445566-7788-4990-aabb-ccddee0ff122",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-msg",
              "name": "errorMessage",
              "value": "={{ $json.execution?.error?.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "err-node",
              "name": "failedNode",
              "value": "={{ $json.execution?.lastNodeExecuted || 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2750, 600],
      "id": "44556677-8899-4aa0-bbcc-ddee0ff12233",
      "name": "Log Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Fetch Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Activity": {
      "main": [
        [
          {
            "node": "Has Streams?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Streams?": {
      "main": [
        [
          {
            "node": "Fetch Streams",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Streams": {
      "main": [
        [
          {
            "node": "Upsert Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Streams": {
      "main": [
        [
          {
            "node": "Upsert Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Activity": {
      "main": [
        [
          {
            "node": "Set Status Analyzing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Analyzing": {
      "main": [
        [
          {
            "node": "Code Downsample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Downsample": {
      "main": [
        [
          {
            "node": "Wait Before Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Scout": {
      "main": [
        [
          {
            "node": "Scout LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout LLM": {
      "main": [
        [
          {
            "node": "Code Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Build Prompt": {
      "main": [
        [
          {
            "node": "Wait Before Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Analysis": {
      "main": [
        [
          {
            "node": "Analysis LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis LLM": {
      "main": [
        [
          {
            "node": "Code Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Analysis": {
      "main": [
        [
          {
            "node": "Store Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Analysis": {
      "main": [
        [
          {
            "node": "Has Voice Summary?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice Summary?": {
      "main": [
        [
          {
            "node": "Get Upload URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status Complete Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upload URL": {
      "main": [
        [
          {
            "node": "Resolve Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Voice": {
      "main": [
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Save Voice Debrief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Voice Debrief": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Complete Fallback": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Complete": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
